#c8635c (mYrosa) */
/* #0c05713d (mYbackground) */
/* #2f2988e3 (mYblue) */
/* #ededed (light background for spans) */

@media only screen and (max-width: 600px) {
    /* body {
        background-color: lightblue;
    } */
}

body {
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.headertext {
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    margin-top: 10px;
}

.headerexplain {
    padding-left: 30px;
}

.basket {
    width: 30px;
}

.mainimgblock {
    position: relative;
    margin: 0 0 -5px 0;
}

.mainimgblock img {
    width: 100%;
    /* height: 700px; */
}
/* 
.mainimgblock:after {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    top: 1;
    left: 0;
    background-color: #04021f3d;
} */

/* _____________________Hamburger menu______________ */

#menuToggle {
    display: block;
    position: relative;
    left: 50px;
    top: 40px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #2f2988e3;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #c8635c;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ededed;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #2f2988e3;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -65px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* ______ The end of the Hamburger menu________ */


.textover {
    position: absolute;
    top: 110px;
    left: 70px;
    z-index: 2;
    color: #ededed;
    font-size: 60px;
    text-align: center;
}

.firstblock,
.secondblock,
.thirdblock {
    /* height: 350px; */
    /* padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px; */
    color: beige;
}

ul {
    list-style: none;
}

ul li label {
    display: block;
}

ul li:hover label {
    color: rgb(170, 125, 69);
    ;
}


.firstblock,
.thirdblock,
.fifthblock {
    background-color: rgba(47, 41, 136, 0.889);
}

/* _______sidebar toggle menu______ */


.mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: -550px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox]#openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* ______The end of the sidebar toggle menu_______ */


.firstblockwrapper,
.secondblockwrapper,
.thirdblockwrapper {
    display: flex;
}

.firstblocktext,
.secondblocktext,
.thirdblocktext {
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.firstblocktextdescribe,
.secondblocktextdescribe,
.thirdblocktextdescribe {
    margin: 30px 0 30px 0;
}

.firstblocktextwrap,
.secondblocktextwrap,
.thirdblocktextwrap {
    margin: 10px;
}

.secondblock,
.fourthblock {
    background-color: rgba(95, 114, 46, 0.619);
}

.firstblockimg,
.secondblockimg,
.thirdblockimg {
    border-radius: 7px;
    width: auto;
    height: 400px;
}

.footerinfo {
    margin: 30px;
}

/* _________toggle-buttons____________ */


.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 150px;
    height: 140px;
    box-sizing: border-box;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.buton {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.buton.r,
.buton.r .layer {
    border-radius: 100px;
}

.buton.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 {
    overflow: visible;
}

#button-1 .knobs:before {
    content: "YES";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #5f722e9e;
    border-radius: 50%;
}

#button-1 .layer,
#button-1 .knobs,
#button-1 .knobs:before {
    transform: rotateZ(0);
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs {
    transform: rotateZ(-180deg);
}

#button-1 .checkbox:checked+.knobs:before {
    content: "NO";
    background-color: #c8635c;
    transform: rotateZ(180deg);
}

#button-1 .checkbox:checked~.layer {
    background-color: #fcebeb;
    transform: rotateZ(180deg);
}

/* Button 2 */
#button-2 {
    overflow: visible;
}

#button-2 .knobs {
    perspective: 70px;
}

#button-2 .knobs:before,
#button-2 .knobs:after,
#button-2 .knobs span {
    position: absolute;
    top: 4px;
    border-radius: 2px;
}

#button-2 .knobs:before,
#button-2 .knobs:after {
    width: 20px;
    height: 10px;
    color: #4e4e4e;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
}

#button-2 .knobs:before {
    content: "YES";
    left: 4px;
}

#button-2 .knobs:after {
    content: "NO";
    right: 4px;
}

#button-2 .knobs span {
    right: 4px;
    width: 33px;
    height: 28px;
    background-color: #778b7f;
    transform: rotateY(0);
    transform-origin: 0% 50%;
    transition: 0.6s ease all;
    z-index: 1;
}

#button-2 .checkbox:checked+.knobs span {
    transform: rotateY(-180deg);
    background-color: #c8635c;
}

#button-2 .checkbox:checked~.layer {
    background-color: #fcebeb;
}

/* footermenu */
.menuwrapper {
    font-size: 15px;
    background: #d8ecf2;
    color: RGBA(67, 83, 99, 1);
  }
  
  .footermenu {
    margin: 0 auto;
    width: 350px;
    max-width: 350px;
  }
  
  h2 {
    padding: 1.8rem 0;
    
    font-size: 2.8rem;
    
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    
  }
  
  nav {
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    position: relative;
    padding: .6125rem .6152rem 1.6125rem;
  } 
  
  li a { 
    text-decoration: none;
    color: RGBA(67, 83, 99, 1);
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
  }
  
  ul:hover a {
    opacity: .8;
    
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  
  ul a {
    display: block;
    position: relative;
    padding: .75rem 1rem 1rem;
    
    -webkit-transition: -webkit-transform .22s,box-shadow .22s;
    transition: transform .22s,box-shadow .22s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    box-shadow: 0 0 0 -.25rem rgba(0,0,0,.1);
  }
  
  ul a:focus, ul a:hover {
    outline: 0;
    box-shadow: 0 .5rem 0 -.25rem rgba(0,0,0,.1);
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform:scale(1.03);
    -webkit-transition: -webkit-transform .088s,box-shadow .088s;
    transition: transform .088s,box-shadow .088s;
    z-index: 1;
  }
  
  .menu a:nth-child(1) {
    background: #95c5db;
  }
  .menu a:nth-child(2) {
    background: #94c1db;
  }
  .menu a:nth-child(3) {
    background: #94bddb;
  }
  .menu a:nth-child(4) {
    background: #94b9db;
  }
  .menu a:nth-child(5) {
    background: #94b5db;
  }
  .menu a:nth-child(6) {
    background: #94b2db;
  }
  
  .menu a:nth-child(6):hover {
    cursor: pointer;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
      transform: perspective(400px) rotateX(-10deg);
    }
  
    70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
      transform: perspective(400px) rotateX(10deg);
    }
  
    100% {
      -webkit-transform: perspective(400px) rotateX(0deg);
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
  
  @keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      -ms-transform: perspective(400px) rotateX(90deg);
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
      -ms-transform: perspective(400px) rotateX(-10deg);
      transform: perspective(400px) rotateX(-10deg);
    }
  
    70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
      -ms-transform: perspective(400px) rotateX(10deg);
      transform: perspective(400px) rotateX(10deg);
    }
  
    100% {
      -webkit-transform: perspective(400px) rotateX(0deg);
      -ms-transform: perspective(400px) rotateX(0deg);
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
  
  .flipInX {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }
/* footermenu */